version: '3'

services:
  mysqld:
    image: kbase/techchallenge
    command: 
      - "/usr/bin/mysqld_safe"
  helloworld:
    image: kbase/techchallenge
    command:
#      - "sleep"
#      - 3600
      - "/go/Go-Signup-Login-Example-MySQL/signup.start"
  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - "./nginx/conf.d:/etc/nginx/conf.d"
